.burger-menu {
    width: 100%;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 1;

    .list{
        width: 500px;
        list-style: none;
        font-size: 25px;
        background-color: white;
        
        .item{
            margin-left: 100px;
            margin-top: 20px;            
            a{
                display: flex;
                text-decoration: none;
                color: #7c8596;
                align-items: center;

                svg{
                    margin-right: 20px;
                }
            }    

            a:hover{
                color: black;
            }   
        }
    }

    .bluer-menu{
        width: 100%;
        filter: blur(3px);
        background-color: rgba(68, 67, 69, 0.6)
    }
}